*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: $color-gray6;
  line-height: 1.5;
  color: $color-gray6;
}