
$window-size: 70%;
$window-right-size: 80%;
$window-size-md: 95%;

$font-lg: 3rem;
$font-xl: 6rem;
$font-md: 2rem;
$font-sm: 1.5rem;
$font-xsm: 1.2rem;
$font-xxl: 10rem;


$m-x: 3rem;
$m-y: 2rem;
$m-in-x: 4rem;
$m-in-sx: 3rem;
$m-in-y: 3rem;
$m-in-sy: 2rem;


$color-gray1: #718096;
$color-gray2: #a0aec0;
$color-gray3: #cbd5e0;
$color-gray4: #e2e8f0;
$color-gray5: #edf2f7;
$color-gray6: #f7fafc;
$color-gray8: #89a3b2;
$color-gray7: #738598;
$color-gray8: #89a3b2;

// -- pie
$pie-color: #3498db;
$pie-size: 5rem;
$pie-label-font: $pie-size / 4;
$pie-percent-font: $pie-label-font / 2;

// bar chart
$bar-height: 15rem;
